#index_first_section {
  width: 75%;
  min-height: 70vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* #modal {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgb(54, 71, 44);
}

#modal article.grid-menu {
  max-width: 900px;
  background-color: rgb(5, 44, 32);
} */

@media (max-width: 600px) {
  .logo_grid {
    display: none;
  }

  .h1_grid {
    grid-column: 1 / 8;
    grid-row: 1;
    font-size: 2.6rem;
  }

  .h2_grid {
    grid-column: 1 / 8;
    grid-row: 2;
    font-size: 3rem;
  }
}
